.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}

th {
  text-align: left;
}


/******** LAYOUT ***************************************************/

body {
  background-color: #E7E7E7;
}
nav {
  height: 60px;
  /*background-color: #1b4a6c;*/
  background-color: black;
}

nav h1 {
  margin: 0 auto;
  color:white;
  float:left;
}

nav .login {
  width: auto;
  float: right;
  margin: 10px 20px 0 0;
}

.login input, p {
  display:inline;
}

.login .button {
  border:none;
  background-color:#9AC770; 
  color:#F8F3F8;

}

.edit {
	margin-bottom: 30px;
	background-color: #ddd;
	padding: 10px;
	width: 
}

/**************INDEX***************************/
.register {
  width: 225px;
  margin: 0 auto;
  margin-top: 85px;
 /* border: solid 1px black;*/
  padding: 20px 40px;
  background-color: #DADADA;

}

.register input {
  margin: 5px auto;
  height: 30px;
  width: 225px;
  border: 0px;
  padding: 0px;
  padding-left: 3px;
}

.button_register {
  border: none;
  width:225px;
  margin: auto;
  background-color: #9AC770;
  color:#F8F3F8;
}



/***************SEAN *****************************/
























































/*********************** JAVIER *************************/






































































/*********************** BRIAN *************************/

.brand a {
  text-decoration: none;
  color: white;
}
.user-info {
  float:right;
  margin: 10px 10px 0 0;
}

.current-user-email {
  text-decoration: none;
  color: white;
}
.current-user-email:hover, .brand a:hover {
  color: #2B8CBE;
}

.logout input {
  border:none;
  background-color:#EF8A62;
  float:right;
  color:#F8F3F8;
}

.button {
  border:none;
  background-color: #9AC770;
  color:#F8F3F8;
}

.question-form .button, .choice-form .button, .editq .button {
  width: 200px;
  height:36px;
}
.edit-choice .button {
  width: 200px;
}

.question-form, .choice-form, .editq, .edit-choice, .add-choice {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 20px
}


.question-field, .choice-field, .editq-field{
  width :400px;
  height:30px;
}

.survey-submit .button, .choice-submit .button {
  width: 150px;
  height:30px;
}

.question-list li {
  margin: 5px;
}

.add-choice, .edit-choice {
  width: 340px;
  margin-left: 90px;
}
.edit-choice input {
  margin: 5px 0;
}

.del-choice {
  text-decoration: none;
  color: #EF8A62;
}

