<div class="container">
  <h1><%= @survey.title %></h1>
  <h4><%= current_user.email %></h4>


  <form action="/survey/<%= @survey.id %>/question/create" method="post">
    <label>Question: <input type="text" name="question" required="required"></label>
    <input type="submit" value="Create Question">
  </form>
  
  <p>Survey questions:</p>
  <table>
  <% @survey.questions.each do |question| %>
    <tr>
    <td><%= question.question %><td>
    </tr>
  <% end %>
  </table>

  <form action="/user/profile" method="get">
    <input type="submit" value="Done">
  </form>
</div>
