<div class="container">
  <p><%= @error %></p>

  <form action='/login' method="POST">
    <p>Log In</p>
    <label>Email: <input type="email" name="email" required="required"></label><br>
    <label>Password: <input type="password" name="password" required="required"></label><br>
    <input type="submit" value="Log In">
  </form>

  <form action='/register' method="POST">
    <p>Register</p>
    <label>Email: <input type="email" name="register[email]" required="required"></label><br>
    <label>Password: <input type="password" name="register[password]" required="required"></label><br>
    <input type="submit" value="Register">
  </form>
</div>
