<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <nav>
    <h1 class="brand"><a  href="/">SurveyAnimal</a></h1>
    
  

    <%if session[:user_id]%>
      <div class="user-info">
         <a class="current-user-email" href="/user/profile"><%=current_user.email%> </a>
        <form  class="logout" action="/logout">
          <input type="submit" value="Log Out">
        </form>
      </div>
     
      <% else %>
        <form class="login" action='/login' method="POST">
          <label> <input type="email" name="email" required="required" placeholder="Email"></label>
          <label> <input type="password" name="password" required="required" placeholder="Password"></label>
          <input class="button" type="submit" value="Log In">
        </form>
    <% end %>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
