<div class="survey_user">
  <h1><%= @survey.title %></h1>


    <%@survey.questions.each do |question| %>
      <p><%= question.question %></p>
            <li><%=current_user.choices.where(question_id: question.id).first.choice%></li>
    <%end%>


  <form action="/user/profile" method="get">
    <input class="button" type="submit" value="Back to Profile">
  </form>
</div>
