<div class="thank_you">
  <p>Thank you for taking our survey. Your responses, while perhaps not overly meaningful individually, are combined with millions of other responses that our surveys generate. Such broad coverage of public opinion allows us to more easily make such crucial decisions as what to eat for lunch and what movies to see.</p>
</div>
